In [ ]:
Working with the listed datatype :

In [ ]:
Organising the list datatype :

In [2]:
cars = ['kid','benz','maruti','honda','bmw','audi']

In [ ]:
# req : i ant to prin the list in the alphabetical order -----> A - Z

In [ ]:
two approches:
    
    1. temperory approach ------> sorted ===> we can maintian the original ordder of the list
    2. permanent approach ------> sort ===> changes are applied permanently

In [3]:
print(sorted(cars)) # A, B,B, H,K,M =====> A_Z

['audi', 'benz', 'bmw', 'honda', 'kid', 'maruti']

In [ ]:
benz , bmw ---------> B, B====> e, m

In [4]:
print(cars) # this is the original order

['kid', 'benz', 'maruti', 'honda', 'bmw', 'audi']

In [5]:
print(cars)

['kid', 'benz', 'maruti', 'honda', 'bmw', 'audi']

In [7]:
cars.sort()

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kid', 'maruti']

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kid', 'maruti']

In [ ]:
invertview question : what is the diff btw sorted and sort menthod in a list

In [ ]:
# i want to print the list in the reverse oreder....?

In [10]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kid', 'maruti']

In [ ]:
#maruthi, kia, honada, bmw, bens and audi...

In [11]:
cars.reverse()

In [12]:
print (cars)

['maruti', 'kid', 'honda', 'bmw', 'benz', 'audi']

In [ ]:
# i want to know the no of elements in the list ...?

In [13]:
len(cars) # COUNT OF ELEMENTS

6

In [ ]:
intoduction to slicing :

In [17]:
students = ['trinadh','akhil','ansari','david','sadiya','iqra','divya','swathi']

In [18]:
print(students)

['trinadh', 'akhil', 'ansari', 'david', 'sadiya', 'iqra', 'divya', 'swathi']

In [16]:
type(students)

list

In [ ]:
# general syntax of slicing

In [ ]:
[startvalue:stopvalue:stepcount]

In [ ]:
Note : stop value is always exclusive.  - to invlude we have to incrementthe inded by +1.

In [ ]:
#req :  i want to trinadh and akhil in the output...?

In [19]:
print(students[0:1])

['trinadh']

In [21]:
print(students[0:2])

['trinadh', 'akhil']

In [ ]:
# ansari and david

In [23]:
print(students[2:4])

['ansari', 'david']

In [25]:
print(students[6:8])

['divya', 'swathi']

In [26]:
print(students)

['trinadh', 'akhil', 'ansari', 'david', 'sadiya', 'iqra', 'divya', 'swathi']

In [28]:
print(students[0:8:2])

['trinadh', 'ansari', 'sadiya', 'divya']

In [29]:
print(students[0:8:3])

['trinadh', 'david', 'divya']